// Code
@import "_highlight/rainbow"
@import "_fonts"

$color-text = #404040

$color-background = #1d1f21
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #908d8d
$color-scrollbar = #999
$color-meta = #908d8d
$color-meta-code = #908d8d
$color-link = rgba(212, 128, 170, 1)
$color-accent-3 = #cccccc
$color-accent-2 = #eeeeee
$color-accent-1 = #2bbc8a
$color-quote = #ccffb6

pre
  overflow-x: auto
  padding: 10px 15px
  padding-bottom: 0
  border: 1px dotted $color-border
  border-radius: 4px
  font-size: 13px
  font-family: $font-family-mono
  line-height: 22px
  -webkit-border-radius: 4px

  code
    display: block
    padding: 0
    border: none

code
  padding: 0 5px
  border: 1px dotted $color-border
  border-radius: 2px
  -webkit-border-radius: 2px

.highlight
  overflow-x: auto
  margin: 1rem 0
  padding: 10px 15px
  border-radius: 4px
  background: $color-background-code
  font-family: $font-family-mono
  // color: $color-accent-3
  -webkit-border-radius: 4px

  figcaption
    margin: -5px 0 5px
    color: $color-meta-code
    font-size: .9em
    transform: scale(1)

    a
      float: right
      color: $color-meta-code
      font-style: italic
      font-size: .8em

      underline(10px, $color-link)

    a:hover
      color: lighten($color-meta-code, 20%)

    &:before, content: ""
      display: table

    &:after
      clear: both

  &:hover 
    .btn-copy
      opacity: 1

  .btn-copy
    font-size: 1.2rem
    position: absolute
    right: 20px
    opacity: 0
    transition: opacity 0.2s ease-in
    &:hover
      color: $color-accent-1

  pre
    margin: 0
    padding: 0
    border: none
    background: none

  table
    width: auto

  td.gutter
    text-align: right
    opacity: .2

  .line
    height: 22px

#header-post #actions
  direction: ltr !important

@media screen and (max-width: 768px)
    body
        max-width: 90%
        #sidebar
            display: none;

@media screen and (min-width: 992px)
    body
        max-width: 56%
        #sidebar
            width: 20%;
            position: fixed;
            top: 0;
            right: .5rem;
            font-size: small;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            height: 100vh;
            ol
                list-style-type: none;
                padding-inline-start:20px;
html
    scroll-behavior: smooth;
body
    margin: 0 auto 0 auto;
    font-family: 'Helvetica Neue';
    a
        text-decoration: none;
    .wrapper
        color: $color-text;
        #tags-list, #categories-list
            a
                color: $color-text;
                text-decoration: underline;
            .focus-tag, .focus-category
                color: #000;
                font-weight: 900;
            .key-word
                color: #000;
                font-size: 1.1em;
        .meta
            font-weight: 400;
            line-height: 2rem;
            .postdate
                display: inline;
                i
                    font-style: normal;
    #herder
        margin-bottom: 1rem
        #title
            color: $color-text;
            .p-name
                margin-bottom: 0.5rem;
    #nav ul
        padding-inline-start: 0px;
        margin-top: 0px;
        li
            display: inline-block;
            border-right: 1px solid;
            border-color: #acacac;
            margin-right: 0.2rem;
            a
                margin-right: 0.2rem;
        li:last-child
                margin-right: 0;
                border-right: 0;
    .post-list
        list-style-type: none;
        padding-inline-start: 0px;
    #sidebar
        height: 100%;
        #toc
            flex-grow: 1;
            overflow-y: auto;
            overflow-x: scroll;
            transition: background ease-in .2s;
            .toc-text
                color: $color-text;
                width: 17em;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            .toc-text:hover
                color: blue;
        #toc:hover
            background: #f2f2f2;
        #actions
            .action
                cursor: pointer;
            a
                color: $color-text;
                width: 20em;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            a:hover
                color: blue;
            ul
                list-style-type: none;
                padding-inline-start: 20px;

.vpower
    display: none;

.year
    font-weight: bold;

.thumbnail
    width: 100%




table:not(.highlight table) {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-size: 14px;
  table-layout: fixed;
  word-wrap: break-all;
}
table:not(.highlight table)>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table:not(.highlight table)>tbody>tr:hover {
  background-color: #f5f5f5;
}
caption,
th:not(.highlight th),
td:not(.highlight td) {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}
th:not(.highlight th),
td:not(.highlight td) {
  border-bottom: 3px solid #ddd;
  border-right: 1px solid #eee;
}
th:not(.highlight th) {
  padding-bottom: 10px;
  font-weight: 700;
}
td:not(.highlight td) {
  border-bottom-width: 1px;
}

blockquote {
  padding: 0 1rem;
  color: #666;
  border-left: 4px solid #ddd;
  margin: 0;
}
blockquote cite::before {
  content: "-";
  padding: 0 5px;
}

.fa-solid
    font-style: normal;
    font-weight: 900;
.fa-user:before
    content: "\f007";
.fa-eye:before
    content: "\f06e";
.fa-file:before
    content: "\f15b";
.fa-archive:before
    content: "\f187";
.fa-tag:before
    content: "\f02b";
.fa-tag, .fa-classic, .fa-regular, .fa-solid, .far, .fas
    font-family: "Font Awesome 6 Free";
