<div id="herder">
    <a href="/">
        <div id="title">
            <h1 class="p-name"><%= config.title %></h1>
            <% if (theme.enable.subtitle) { %>
                <p><%= config.subtitle %></p>
            <% } %>
        </div>
    </a>
    <div id="nav">
        <ul>
            <li><a href="/">首页</a></li><!--
            --><li><a href="/archives/">归档</a></li><!--
            --!><li><a href="/">关于</a></li>
        </ul>
    </div>
    <% if (!is_archive() && !is_category() && !is_tag()) { %>
        <%- partial('common/visitors') %>
    <% } %>
</div>
