<div id="herder">
    <a href="/">
        <div id="title">
            <h1 class="p-name"><%= config.title %></h1>
            <% if (theme.enable.subtitle) { %>
                <p><%= config.subtitle %></p>
            <% } %>
        </div>
    </a>
</div>
