<div class="busuanzi-count">
    <span class="site-uv">
        <i class="fa-solid fa-user"></i>
        <span class="busuanzi-value" id="busuanzi_value_site_uv">0</span>
    </span>
    <span class="site-pv">
        <i class="fa-solid fa-eye"></i>
        <span class="busuanzi-value" id="busuanzi_value_site_pv">0</span>
    </span>
    <% if (is_post()) { %>
        <span class="page-pv">
            <i class="fa-solid fa-file"></i>
            <span class="busuanzi-value" id="busuanzi_value_page_pv">0</span>
        </span>
    <% } %>
</div>
